################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bookstore/.vs/Bookstore/v16
/Bookstore/BookStore/obj
